body {
    background-color: #333;
    color: #fff;
}

.navbar {
    border-bottom: #c0392b 3px solid;
    opacity: .7;
}

#home-section {
    background: url(./img/bg.jpg) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.home-inner {
    padding: 200px;
}

@media (max-width: 992px) {
    .home-inner {
        padding: 100px;
    }
}
